<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponarenko API CRUD</title>
</head>

<body>
    <h1>Check API</h1>
    <div class="LinkContainer">
        <a href="/products" class="link" target="_blank">Products</a>
        <a href="/companies" class="link" target="_blank">Companies</a>
        <a href="/users" class="link" target="_blank">Users</a>
    </div>

    <style>
        body {
            width: 500px;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }

        .LinkContainer {
            border: 1px solid slategray;
            background-color: beige;
            text-align: center;
            padding: 10px;
        }

        .link {
            color: green;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;

            margin-top: 350px;
            padding: 20px;
        }

        .link:hover {
            color: gray;
       
           
        }

        h1 {
            color: slategray;
            text-align: center;
        }
    </style>
</body>

</html>